<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Horários - Circular
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment margin-bottom [(ngModel)]="status" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="1">
      <ion-label>Dias Úteis</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Sábado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>Domingo</ion-label>
    </ion-segment-button>
  </ion-segment>
<div [ngSwitch]="status">
    <ion-list size="12" *ngSwitchCase="1">
      <ion-item color="background" class="list-time" size="6" *ngFor="let uteis of util">
        <ion-label>
          <h2 text-center>
            <ion-icon slot="start" name="bus"></ion-icon>
            {{uteis.hora}}
          </h2>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list size="12" *ngSwitchCase="2">
      <ion-item color="background" class="list-time" size="6" *ngFor="let sab of sabado">
          <ion-label>
            <h2 text-center>
              <ion-icon slot="start" name="bus"></ion-icon>
              {{sab.hora}}
            </h2>
          </ion-label>
        </ion-item>
    </ion-list>

    <ion-list size="12" *ngSwitchCase="3">
          <ion-item color="background" class="list-time" size="6" *ngFor="let dom of domingo">
            <ion-label>
              <h2 text-center>
                <ion-icon slot="start" name="bus"></ion-icon>
                {{dom.hora}}
              </h2>
            </ion-label>
          </ion-item>
      </ion-list>
    </div>
</ion-content>