.background {
    background-color: rgb(89, 194, 255) !important;
}
.logo {
    width: 45%;
    position: relative;
    left: 50%;
    margin-left: -27%;
}
.button-basic {
    border-radius: 20px;
    width: 60%;
    height: 50px;
    background-color: #fff;
    color: rgb(30, 140, 204) !important;
}
p {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.copyright {
    position: fixed;
    bottom: 2px;
    font-size: 10px;
    color: #fff;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}
.button-sobre {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: rgb(30, 140, 204) !important;
    bottom: -230px;
}